*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body{
  text-align: center;
  padding: 20px;
  width: 500px;
}
.keys{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: (5, 2fr) ;
  grid-gap: 25px;
}
button{
  font-size: 1.5rem;
  height: 30px;
  width: 70px;
  background-color: #222222;
  cursor: pointer;
  color: blue;
  box-shadow: 2px, -5px, 3px blue;
}
input{
  
  height: 50px;
  padding-bottom: 30px;
}
.calculator{
  border: 2px inset blue;
  
}
