*{
  box-sizing: border-box;
  padding: 0;
  margin:0;
}
body{
  background-color: linear-gradient(45deg, pink,white);
  background-color: #2C5F2D;
  font-size: 3em;
  margin: 50% auto;
  padding: 30px;
}
.calculator{
  border: 1px ridge gold;
  text-align: center;
  border-radius: 10px;
  display: grid;
  grid-template-rows: 5;
  
}
button{
  width: 50px;
  height: 30px;
  border-radius: 3px;
  cursor: pointer;
  box-shadow: 3px 2px 3px #97BC62FF ;
  color: #97BC62FF;
}
input{
  padding-bottom: 20px;
  height: 100px;
  width: auto;
  padding: 0;
  background-color: #fff;
  border-radius: 5px;
}
/*(#2C5F2D) and Moss Green (#97BC62FF)